.dropdown-button + .dropdown {
    position: absolute;
    top: 100%;
    left: 0px;
    width: auto;
    height: auto;
    border: 2px solid var(--main-border-color);
    transition: 0.2s;
    opacity: 0;
}

.dropdown-button + .dropdown.opened {
    opacity: 1;
}

.dropdown-button + .dropdown.align-right {
    right: 1em;
    left: inherit;
}
