form {
    width: 100%;
}

label {
    display: inline-block;
    font-size: 1.1em;
    margin: 1em 0 0.3em;
}

input {
    width: 100%;
    font-size: 1.1em;
    border: 2px solid var(--main-border-color);
    border-radius: 3px;
    margin: 0.3em 0 0.7em 0;
    padding: 8px;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

input.center {
    text-align: center;
}

input:focus {
    outline: none;
    animation: border-color-change .1s ease 0s 3 normal none;
}

input.error {
    border-color: #b96363;
}

form a {
    display: block;
    width: 100%;
    text-align: left;
    font-size: 1.1em;
    margin: 10px 0;
}

input[type="checkbox"]:not(.toggle) {
    margin-right: 8px;
    position: relative;
    appearance: none;
    display: inline-block;
    vertical-align: middle;
    border: 2px solid var(--main-border-color);
    width: 1.4em;
    height: 1.4em;
    top: 0.3em;
    animation: none;
}

input[type="checkbox"]:not(.toggle)::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 1.4em;
    height: 1.4em;
    opacity: 0;
    border-bottom: 4px solid var(--main-border-color);
    border-right: 6px solid var(--main-border-color);
    border-top-color: transparent;
    border-left-color: transparent;
    transform: translate(2px, -9px) rotate(45deg) scaleX(0.5);
    transition: opacity 0.3s cubic-bezier(0.2, 1, 1, 1);
}


input[type="checkbox"]:not(.toggle):checked:before {
    opacity: 1;
}

input[type="checkbox"].toggle {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    appearance: none;
    width: 3em;
    height: 1.4em;
    background-color: var(--main-text-color);
    border-radius: 0.7em;
    border: 2px solid var(--main-border-color);
    margin-right: 8px;
    vertical-align: middle;
    top: 0.3em;
    animation: none;
    transition: background-color 0.2s cubic-bezier(0.2, 1, 1, 1);
}

input[type="checkbox"].toggle::before {
    content: "";
    position: absolute;
    left: -2px;
    top: -2px;
    width: 1.4em;
    height: 1.4em;
    background-color: var(--main-bg-color);
    border-radius: 50%;
    animation: none;
    transition: transform 0.3s;
    border: 2px solid var(--main-border-color);
}

input[type="checkbox"].toggle:checked::before {
    transform: translateX(1.6em);
}

input[type="checkbox"].toggle:checked {
    background-color: var(--green-color);
}

input[type="radio"] {
    appearance: none;
    position: relative;
    background-color: transparent;
    content: "";
    border: 2px solid var(--main-border-color);
    border-radius: 50%;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    cursor: pointer;
    transition: background-color 0.3s cubic-bezier(0.2, 1, 1, 1);
    top: 0.3em;
    margin-right: 5px;
    animation: none;
    margin: 0;
}

input[type="radio"]:checked {
    background-color: var(--main-text-color);
    box-shadow: inset 0 0 0 4px transparent;
}

fieldset {
    padding: 0;
    border: 0;
    margin: 10px 0;
    font-size: .9em;
}

fieldset legend {
    font-size: 1.1em;
    margin: 10px 0;
}

form .long-description {
    max-height: 20vh;
    overflow-y: scroll;
    display: block;
    text-align: justify;
    padding: 1em;
    border: 2px solid var(--main-border-color);
    margin: 10px 0;
    font-size: 0.6em;
}

textarea {
    width: 100%;
    max-width: 100%;
    margin: 0.3em 0 0.7em 0;
    resize: vertical;
    border: 2px solid var(--main-border-color);
    padding: 0.5em;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    border-radius: 3px;
}

textarea:focus {
    outline: none;
    animation: border-color-change .1s ease 0s 3 normal none;
}