form {
    width: 100%;
}

label {
    font-size: 1.1em;
    margin: 10px 0;
}

input {
    width: 100%;
    font-size: 1.1em;
    border: 2px solid var(--main-border-color);
    border-radius: 3px;
    margin: 5px 0 20px 0;
    padding: 8px;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

input.center {
    text-align: center;
}

input:focus {
    outline: none;
    animation: border-color-change .1s ease 0s 3 normal none;
}

input.error {
    border-color: #b96363;
}

form button {
    width: 100%;
    height: 3em;
    border: 2px solid var(--main-border-color);
    background-color: var(--main-text-color);
    color: var(--main-bg-color);
    font-family: "Material Symbols Outlined", "Roboto", "BIZ UDPGothic", sans-serif;
    font-size: 1.3em;
}

form button:hover {
    animation: color-change .1s ease 0s 3 none;
}

form a {
    display: block;
    width: 100%;
    text-align: left;
    font-size: 1.1em;
    margin: 10px 0;
}

input[type="checkbox"] {
    position: relative;
    appearance: none;
    display: inline-block;
    vertical-align: middle;
    border: 2px solid var(--main-border-color);
    width: 1.4em;
    height: 1.4em;
    transition: 0.3s;
    top: 0.3em;
    animation: none;
}

input[type="checkbox"]::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 1.4em;
    height: 1.4em;
    opacity: 0;
    border-bottom: 4px solid var(--main-border-color);
    border-right: 6px solid var(--main-border-color);
    border-top-color: transparent;
    border-left-color: transparent;
    transform: translate(2px, -9px) rotate(45deg) scaleX(0.5);
    transition: 0.3s;
}


input[type="checkbox"]:checked:before {
    opacity: 1;
}

input[type="radio"] {
    appearance: none;
    position: relative;
    background-color: transparent;
    content: "";
    border: 2px solid var(--main-border-color);
    border-radius: 50%;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    cursor: pointer;
    transition: .3s;
    top: 0.3em;
    margin-right: 5px;
    animation: none;
    margin: 0 8px;
}

input[type="radio"]:checked {
    background-color: var(--main-text-color);
    box-shadow: inset 0 0 0 4px transparent;
}

fieldset {
    padding: 0;
    border: 0;
    margin: 10px 0;
    font-size: .9em;
}

fieldset legend {
    font-size: 1.1em;
    margin: 10px 0;
}

form .long-description {
    max-height: 20vh;
    overflow-y: scroll;
    display: block;
    text-align: justify;
    padding: 1em;
    border: 2px solid var(--main-border-color);
    margin: 10px 0;
    font-size: 0.6em;
}

textarea {
    width: 100%;
    max-width: 100%;
    margin: 10px 0;
    resize: vertical;
    border: 2px solid var(--main-border-color);
    padding: 0.5em;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

textarea:focus {
    outline: none;
    animation: border-color-change .1s ease 0s 3 normal none;
}