.portrait {
    width: min(100%, 700px);
    margin: 0 auto;
    padding: 0 1em;
}

div.center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100%;
}

div.space {
    width: 100%;
    height: 15vw;
}

section.slidelike {
    width: 100%;
    height: 100vh;
    height: 100dvh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

section.slidelike.center {
    align-items: center;
}

section.slidelike h1 {
    font-weight: 900;
}

@keyframes to-small {
    0% {
        height: 100vh;
        height: 100dvh;
    }
    100% {
        height: max(30vh, 400px);
    }
}

section.slidelike.be-small {
    animation: to-small 1s ease 1s 1 normal forwards;
}

.w100 {
    width: 100%;
}