:root {
    --main-bg-color: #f5f6f2;
    --main-text-color: #000;
    --main-border-color: #333;
    --link-color: blue;
    --green-color: green;
    --sub-bg-color: #e0e0e0;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-bg-color: #000;
        --main-text-color: #f5f6f2;
        --main-border-color: #ddd;
        --link-color: #a2a2ff;
        --green-color: green;
        --sub-bg-color: #121212;
    }
}